* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none !important;
}